<div class="layout-search">
  <div class="content-container">
    <div class="page-title-container">
      <h1 class="page-title">
        <i class="fa-fw far fa-clock-rotate-left title-icon" aria-hidden></i>
        {{ 'history' | transloco }}
      </h1>
    </div>

    @if (history().length > 0) {
      <div class="history-list">
        @for (scope of history(); track $index) {
          <div class="history-group">
            <h2 class="date-header">
              {{ getDate(scope.date) }}
            </h2>

            @for (search of scope.searches; track $index) {
              <a
                class="search-item"
                role="link"
                attr.data-href="{{ search.path || search.queryParams?.path }}"
                [routerLink]="[search.path || search.queryParams?.path]"
                [queryParams]="getQueryParams(search)">
                <span class="search-display">
                  {{ search.display || search.label }}
                </span>

                <span class="search-details">
                  {{ 'in' | transloco }}

                  <span class="search-tab">
                    {{ search.queryParams?.tab ?? 'all' }}
                  </span>

                  @if (search.filterCount) {
                    ,

                    <span class="search-filters"> {{ search.filterCount }} {{ 'filters' | transloco }} </span>
                  }
                </span>

                <button
                  class="delete-button"
                  [attr.title]="'Remove from history' | transloco"
                  [attr.aria-label]="'Remove from history' | transloco"
                  (click)="remove($event, search)">
                  <i class="fa-fw far fa-trash delete-icon" aria-hidden></i>
                </button>
              </a>
            }
          </div>
        }
      </div>
    } @else {
      <div class="no-records-container">
        <div class="main-text">
          <p>No history found</p>
        </div>
        <div class="subtitle-text">
          <p>Your recent searches will appear here as you explore the platform</p>
        </div>
      </div>
    }
  </div>
</div>
