<a id="navbar-logo" routerLink="/home" class="logo-link">
  <img id="logo" alt="logo" class="logo-image" />
</a>

<!--@if (showInput()) {-->
<!--  <app-search-input-->
<!--    class="search-input-container"-->
<!--    variant="basic"-->
<!--    [showSave]="true"-->
<!--    (saved)="saveSearch($event)"-->
<!--    (validated)="validated($event)"-->
<!--    (debounced)="debounced($event)">-->
<!--    <app-autocomplete [text]="searchText()" (onClick)="autocompleteItemClicked($event)" />-->
<!--  </app-search-input>-->
<!--}-->

<nav [class]="cn('navigation-container', !showMenu() && 'navigation-full-span')">
  @if (showMenu()) {
    @for (menu of menus(); track $index) {
      <li>
        @if (menu.routerLink === router.url) {
          <button variant="ghost" title="{{ menu.display | transloco }}" [attr.aria-label]="menu.display | transloco" disabled>
            <span *ngIf="menu.icon" [innerHTML]="getSvg(menu.icon)" class="menu-icon"></span>
          </button>
        } @else if (menu.component) {
          <Popover class="popover-container">
            <button class="menu-icon-btn" title="{{ menu.display | transloco }}" [attr.aria-label]="menu.display | transloco">
              <span *ngIf="menu.icon" [innerHTML]="getSvg(menu.icon)" class="menu-icon"></span>
            </button>

            <PopoverContent class="popover-content" position="bottom-end">
              <ng-container [ngComponentOutlet]="menu.component"></ng-container>
            </PopoverContent>
          </Popover>
        } @else {
          <button variant="icon" size="icon" title="{{ menu.display | transloco }}" [attr.aria-label]="menu.display | transloco">
            <span *ngIf="menu.icon" [innerHTML]="getSvg(menu.icon)" class="menu-icon"></span>
          </button>
        }
      </li>
    }
  }
  <li class="user-menu-container">
    <app-user-menu />
  </li>
</nav>
