<a id="navbar-logo" routerLink="/home" class="logo-link">
  <img id="logo" alt="logo" class="logo-image" />
</a>

@if (showEditToggle) {
  <div class="edit-mode-toggle-container">
    <div class="toggle-wrapper">
      <div class="toggle-switch" [class.active]="editMode" (click)="onToggleEditMode()" [attr.title]="editMode ? 'Exit Edit Mode' : 'Enter Edit Mode'">
        <div class="toggle-track">
          <div class="toggle-thumb">
            @if (editMode) {
              <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z"
                  stroke="currentColor"
                  strokeWidth="2"
                  strokeLinecap="round"
                  strokeLinejoin="round" />
                <circle cx="12" cy="12" r="3" stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round" />
              </svg>
            } @else {
              <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13"
                  stroke="currentColor"
                  strokeWidth="2"
                  strokeLinecap="round"
                  strokeLinejoin="round" />
                <path
                  d="M18.5 2.50001C18.8978 2.10219 19.4374 1.87869 20 1.87869C20.5626 1.87869 21.1022 2.10219 21.5 2.50001C21.8978 2.89784 22.1213 3.4374 22.1213 4.00001C22.1213 4.56262 21.8978 5.10219 21.5 5.50001L12 15L8 16L9 12L18.5 2.50001Z"
                  stroke="currentColor"
                  strokeWidth="2"
                  strokeLinecap="round"
                  strokeLinejoin="round" />
              </svg>
            }
          </div>
        </div>
      </div>
      <!--      <span class="toggle-label">-->
      <!--        {{ editMode ? 'View Mode' : 'Edit Mode' }}-->
      <!--      </span>-->
    </div>
  </div>
}
<nav [class]="cn('navigation-container', !showMenu() && 'navigation-full-span')">
  @if (showMenu()) {
    @for (menu of menus(); track $index) {
      <li>
        @if (menu.routerLink === router.url) {
          <button variant="ghost" title="{{ menu.display | transloco }}" [attr.aria-label]="menu.display | transloco" disabled>
            <span *ngIf="menu.icon" [innerHTML]="getSvg(menu.icon)" class="menu-icon"></span>
          </button>
        } @else if (menu.component) {
          <Popover class="popover-container">
            <button class="menu-icon-btn" title="{{ menu.display | transloco }}" [attr.aria-label]="menu.display | transloco">
              <span *ngIf="menu.icon" [innerHTML]="getSvg(menu.icon)" class="menu-icon"></span>
            </button>

            <PopoverContent class="popover-content" position="bottom-end">
              <ng-container [ngComponentOutlet]="menu.component"></ng-container>
            </PopoverContent>
          </Popover>
        } @else {
          <button variant="icon" size="icon" title="{{ menu.display | transloco }}" [attr.aria-label]="menu.display | transloco">
            <span *ngIf="menu.icon" [innerHTML]="getSvg(menu.icon)" class="menu-icon"></span>
          </button>
        }
      </li>
    }
  }
  <li class="user-menu-container">
    <app-user-menu />
  </li>
</nav>
