<!-- User menu container -->
<div class="user-menu-container">
  <app-user-menu class="user-menu" />
</div>

<!-- Main content -->
<div class="content-container">
  <!-- Logo section -->
  <header class="logo-container">
    <img class="logo-image" id="logo" alt="Company Logo" />
  </header>

  <!-- Search section -->
  <main class="search-container">
    <app-search-input (debounced)="searchText.set($event)" (validated)="search($event)">
      <app-autocomplete [text]="searchText()" (onClick)="autocompleteItemClicked($event)" />
    </app-search-input>
  </main>
</div>

<!-- Bottom-bar container -->
<div class="bottom-bar-container">
  <app-sidebar />
</div>
