@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

::ng-deep .avatar-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0;
}

::ng-deep .avatar-fallback {
  color: var(--primary-02);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

::ng-deep .arrow-down {
  font-size: 12px;
}

::ng-deep .avatar-icon {
  width: 20px;
  height: 20px;
}

.menu-content-main {
  min-width: max-content;
}

.menu-grow {
  flex-grow: 1;
}

.menu-icon {
  width: 1rem;
  height: 1rem;
}

.language-menu-content {
  max-width: fit-content;
  min-width: 10rem;
}

.language-item {
  justify-content: space-between;
}

/* Flag icon */
.flag-icon {
  font-size: 0.25rem !important;

  ::ng-deep svg {
    width: 1rem;
    height: 1rem;
  }
}

.sinequa-item {
  justify-content: space-between;
}

.sinequa-logo {
  width: 1rem;
  height: 1rem;
}
