<button variant="ghost" size="icon" [attr.title]="'preview.zoomIn' | transloco" (click)="zoomIn()">
  <i class="fa-regular fa-magnifying-glass-plus"></i>
</button>

<button variant="ghost" size="icon" [attr.title]="'preview.zoomOut' | transloco" (click)="zoomOut()">
  <i class="fa-regular fa-magnifying-glass-minus"></i>
</button>

@if (extracts()) {
  <button variant="ghost" size="icon" [attr.title]="'preview.toggleExtracts' | transloco" (click)="toggleExtracts()">
    <i class="fa-regular fa-flashlight"></i>
  </button>
} @else {
  <button variant="ghost" size="icon" [attr.title]="'preview.toggleExtracts' | transloco" (click)="toggleExtracts()">
    <span class="fa-stack icon-stack">
      <i class="fa-regular fa-flashlight fa-stack-1x"></i>
      <i class="fa-regular fa-slash fa-stack-1x"></i>
    </span>
  </button>
}
@if (entities()) {
  <button variant="ghost" size="icon" [attr.title]="'preview.toggleEntities' | transloco" (click)="toggleEntities()">
    <i class="fa-regular fa-lightbulb"></i>
  </button>
} @else {
  <button variant="ghost" size="icon" [attr.title]="'preview.toggleEntities' | transloco" (click)="toggleEntities()">
    <i class="fa-regular fa-lightbulb-slash"></i>
  </button>
}
