@if (displaySummary() || displayChatWithDoc()) {
  <div class="tabs-container">
    <button type="button" class="tab-button" [class]="activeTab() === 'preview' ? 'tab-active' : 'tab-inactive'" (click)="activeTab.set('preview')">
      {{ 'Preview' | transloco }}
    </button>

    @if (displayChatWithDoc()) {
      <button type="button" class="tab-button" [class]="activeTab() === 'discussion' ? 'tab-active' : 'tab-inactive'" (click)="setChatWithDocAssistant()">
        {{ 'preview.discussion' | transloco }}
      </button>
    }
  </div>
}
